.Card {
    overflow: hidden;
    cursor: pointer;
    background: #e8dab2;
}

.cardHeader {
    font-family: "Oranienbaum";
}

.drinkImages {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 20pt;
}

.footer {
    color: #4f6d7a;
    padding: 25px;
}
