.react-tags {
    font-family: "Cantarell";
    position: relative;
    padding: 6px 0 0 6px;
    border: 1px solid #4f6d7a;
    border-radius: 1px;
    width: 60vw;
    margin: auto;
    margin-top: 5vh;
    /* shared font styles */
    font-size: 1em;
    line-height: 1.2;
    border-radius: 25px;
    /* clicking anywhere will focus the input */
    cursor: text;
    margin-left: 20%;
}

.react-tags.is-focused {
    border-color: #98c1d9;
}

.react-tags__selected {
    display: inline;
}

.react-tags__selected-tag {
    font-family: "Cantarell";
    color: #4f6d7a;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 1px solid #d1d1d1;
    border-radius: 20px;
    background: #c0d6df;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
}

.react-tags__selected-tag:after {
    content: "\2715";
    color: rgb(253, 253, 253);
    margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
    border-color: #8f8f8f;
}

.react-tags__search {
    display: inline-block;

    /* match tag layout */
    padding: 7px 2px;
    margin-bottom: 6px;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
}

.react-tags__suggestions {
    position: absolute;
    top: 52%;
    width: 100%;
}

@media screen and (min-width: 30em) {
    .react-tags__suggestions {
        width: 240px;
        top: 100%;
    }
}

@media screen and (max-width: 480px) {
    .react-tags__suggestions {
        position: relative;
        width: 120px;
    }
}

.react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    font-family: "Cantarell";
    background: #eaeaea;
    color: #4f6d7a;
    border-radius: 2px;
}

.react-tags__suggestions li {
    border-bottom: 1px solid #4f6d7a;
    padding: 6px 8px;
}

.react-tags__suggestions li mark {
    font-weight: 600;
    background-color: #eaeaea;
}

.react-tags__suggestions li:hover {
    cursor: pointer;
    border-bottom: 1px solid #dd6e42;
}

.react-tags__suggestions li.is-active {
    border-bottom: 1px solid #dd6e42;
}

.react-tags__search-input {
    font-family: "Cantarell";
    font-size: 12pt;
    border: none;
    outline: none;
    background-color: #eaeaea;
    color: #4f6d7a;
    text-emphasis: 10%;
}

.react-tags__search-input.react-tags.is-focused {
    outline: none;
}

/*----------------- CSS FOR SEARCH WITH TAGS ABOVE ----------------------- */
.SearchWithTags {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-items: center;
    justify-content: space-between;
    margin-right: 10%;
}

.submitSearch:hover {
    background-color: whitesmoke;
    color: black;
}
